@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar hiding */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body {
  @apply bg-black text-white antialiased;
}